<!DOCTYPE html>
<html>
  <head>
    <title>Detalhes do cadastro</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="outerDiv">
      <center><h3><a href="/colaboradores">Voltar para a lista de colaboradores</a></h3>
      <br>
      <h1>Informações do colaborador</h1>
        <table class="dadosSolicitacao">
        <tbody>
          <tr>
            <td>Nome</td>
            <td><%= colaborador.nome %></td>
          </tr>
          <tr>
            <td>Setor</td>
            <td><%= colaborador.setor %></td>
          </tr>
          <tr>
            <td>Função</td>
            <td><%= colaborador.funcao %></td>
          </tr>
          <tr>
            <td>CPF</td>
            <td><%= colaborador.cpf %></td>
          </tr>
          <tr>
            <td>Data de início</td>
            <td><%= colaborador.dataInicio %></td>
          </tr>
          <tr>
            <td>Celular corporativo</td>
            <% if(colaborador.celularCorporativo) { %>
              <td>Sim</td>
            <% } else { %> 
              <td>Não</td>
            <% } %>
          </tr>
        </tbody>
      </table>
      <br>
      <h3><a href="/colaboradores/edit/<%= colaborador._id%>" class="btn primary">Editar cadastro</a> <br>
      <br>
      <form action="/colaboradores/delete/<%= colaborador._id%>" method="post">
        <button type="submit" class="btn danger">Excluir cadastro</button>
      </form>
    </center>
    </div>
  </body>
</html>
