<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro de colaboradores (INE5646)</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
  <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet" type="text/css"></link>
  <script type="text/javascript" src="/js/main.js"></script>
  <script type="text/javascript" src="/js/jquery.mask.js"></script>
  <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
  <link href="/stylesheets/styles.css" rel="stylesheet" type="text/css">
</head>

<body class="fundo">
  <div id="app" >
    <v-app>
     <v-toolbar :fixed="fixed" app>
      <v-spacer></v-spacer>
      <a id="titulo" href="/"><v-toolbar-title v-text="title" class="fonte"></v-toolbar-title></a>
      <v-spacer></v-spacer>
    </v-toolbar>
    <main class="fundo">
        <div class="outerDiv">
          <div class="innerDiv">
            <center><h2>Informações do colaborador</h2>
              <a href="/colaboradores"><strong>Voltar</strong></a>
              <hr>          
              <div>
                <table class="cadastro">
                  <tbody>
                    <tr>
                      <td>CPF</td>
                      <td><%= colaborador.cpf %></td>
                    </tr>
                    <tr>
                      <td>Nome</td>
                      <td><%= colaborador.nome %></td>
                    </tr>
                    <tr>
                        <td>E-mail</td>
                        <td><%= colaborador.email %></td>
                      </tr>
                    <tr>
                      <td>Setor</td>
                      <td><%= colaborador.setor %></td>
                    </tr>
                    <tr>
                      <td>Função</td>
                      <td><%= colaborador.funcao %></td>
                    </tr>
                    
                    <tr>
                      <td>Data de início</td>
                      <td>{{dataCorrigida(dataInicio)}}</td>
                    </tr>
                    <tr>
                      <td>Celular corporativo</td>
                      <% if(colaborador.celularCorporativo) { %>
                      <td>Sim</td>
                      <% } else { %> 
                      <td>Não</td>
                      <% } %>
                    </tr>
                    <tr>
                        <td id="padding"><p class="post small2"><a href="/colaboradores/edit/<%= colaborador._id%>">Editar cadastro</a></p></td>
                        <td><form action="/colaboradores/delete/<%= colaborador._id%>" method="post">
                          <button type="submit" class="post btnred">Excluir cadastro</button></td>
                      </tr>
                  </tbody>
                </table>                  
                  </form>
                </div>
              </center>
            </div>
          </div>
        </main>
    <footer>
      <span>&copy; 2018</span>
    </footer>
  </v-app>
</div>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
<script>
Vue.component('page', {
  template: '#page'
})
new Vue({
  el: '#app',
  data: {
    fixed: true,
    title: 'Cadastro de colaboradores (INE5646)',
    dataInicio: '<%= colaborador.dataInicio %>'
  },
  methods: {
    dataCorrigida: function(value) {
      var novaData = new Date(this.dataInicio);
      var dia=novaData.getDate()+1;
      var mes=novaData.getMonth()+1;
      var ano=novaData.getFullYear();
      return novaData = dia + '/' + mes + '/' + ano;
    }
  }
})
</script>
</body>
</html>